@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.bg-primary {
    background-color: #f2fff8;
}

/* Primary color for active links */
.text-primary {
    color: #1c64f2;
}
.background-active {
    color: #1c64f2;
}

/* Secondary color for inactive links */
.text-secondary {
    color: #8338ec;
}

/* Tertiary color */
.text-tertiary {
    color: #ff5a5f;
}

/* H1 text color */
.text-heading {
    color: #0c4ea4;
}

/* H2 - H6 text color */
.text-subheading {
    color: #5f27ba;
}

/* Example usage */
h1 {
    @apply text-heading;
}

h2, h3, h4, h5, h6 {
    @apply text-subheading;
}

a {
    @apply text-primary;
}

a.inactive {
    @apply text-secondary;
}

body {
    @apply bg-primary;
}
